.button {
  background: tomato;
  color: white;
}

body {
  background: darken(white, 0.2);
  background-image: url('../../../img/twoboys.jpg');
  background-size: 200px 300px;
  background-repeat: no-repeat;
}